{% extends "base.html" %}
{% block title%}Index Page{% endblock%}

{% block content%}
    <h1>List of Peole</h1>
    <ul>
        {% for person in people %}
            <li>{{ person.name }} - {{ person.age }} years old</li>
        {% endfor %}
    </ul>

    <h3>New Person</h3>
    <form action=" {{url_for('index')}}" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Name" required>
        <br>
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" placeholder="Age" required>
        <br>
        <label for="age">Job:</label>
        <input type="text" id="job" name="job" placeholder="Job" required>
        <br><br>
        <input type="submit" value="Create Person">
    </form>
{% endblock content%}